.table-header {
    font-weight: 700;
    color:var(--WHITE-999);
}

.MuiDataGrid-columnHeadersInner {
    background-color: var(--BLUE-900);
    color:var(--WHITE-999);
}

.MuiDataGrid-columnHeadersInner svg {
    fill: white;
}
.table-header .MuiDataGrid-columnHeaderTitle {
    font-weight: 700;
}

.MuiDataGrid-columnHeaders {
    max-height: 40px;
}

.super-app-theme--cell {
    cursor: pointer;
    border: 1px solid var(--bg-primary);
    padding: 1px;
}


.new-world:hover {
    border: 1px solid var(--txt-primary);
}

button {
    color: var(--WHITE-999);
    background-color: var(--PRIMARY-500);
    border: 2px solid var(--BLACK-999);
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}